.tasknav {
  width: 325px;
}

.choice {
  color: black;
}

.choice:focus,
.choice:hover,
.choice:target {
  color: blue;
  outline: none;
}

@media (min-width: 700px) and (max-width: 800px) {
  .tasknav {
    width: 500px;
    margin: 25px;
  }
}

@media (min-width: 1200px) {
  .tasknav {
    width: 600px;
    margin: 20px;
  }
}
